<section id="footer" class="section bg-gray">
    <section class="container {{ grid_size }}">
        <p>Powered by <a href="http://getgrav.org" target="_blank">Grav. </a> Dark Mode by <a href="https://bbqsoftwares.com/blog/dark-mode" target="_blank">LCharette</a>. {% include 'partials/socialmedia.html.twig' %}</p>
    </section>
</section>
